@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  background-color: #fff4d2;
  font-family: sans-serif;
  padding: 16px;
  padding-top: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 2;
  font-family: 'Oswald', sans-serif;
  color: #444;
  margin-left: 16px;
}

h1 {
  font-size: 2.5em;
  margin-top: 0.25em;
  margin-bottom: 1em;
  color: #911f27 !important;
}

h2
{
  font-size: 3em;
}

h3 {
  font-size: 2em;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title h1 {
  font-size: 6em !important;
  font-family: 'Josefin Sans', sans-serif;
  margin: 0;
}

.title h2 {
  margin: 0;
  font-size:  1em !important;
  position: relative;
  font-family: 'Josefin Sans', sans-serif;
  top: -25px;
  color: #911f27 !important;
}

.time {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

select {
    margin-bottom: 12px;
    font-size: 16px;
    padding: 12px;
    background-color: white;
    border: none;
    border-radius: 8px;
}

form input[type="date"],
form input[type="time"] {
  width: auto;

  border: none;
  outline: none;
  border-radius: 0.5em;
  padding: 12px;
  margin-bottom: 12px;
  font-size: 16px;
}

form {
  width: 95%;
  margin-top: 2.5em;
  margin-bottom: 2em;
  padding-bottom: 1.3em;

  display: flex;
  flex-direction: column;
  align-items: center;
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form input[type="tel"],
form input[type="number"] {
  border: none;
  outline: none;

  padding: 12px;
  border-radius: 0.5em;
  width: 90%;

  margin-bottom: 12px;

  font-size: 16px;
  max-width: 400px;
}

form input[type="text"]:focus,
form input[type="email"]:focus,
form input[type="password"]:focus,
form input[type="tel"]:focus,
form input[type="time"]:focus,
form input[type="date"]:focus,
form input[type="number"]:focus {
  transition-timing-function: ease-out;
  transition-duration: 0.25s;
  outline-style: solid;
  outline-color: #911f27;
}

form input[type=number]::-webkit-inner-spin-button,
form input[type=number] {
    -webkit-appearance: none; 
    -moz-appearance:textfield;
}

form input[type="submit"] {
  background-color: #911f27;
  color: white;
  border-radius: 0.5em;
  box-shadow: 0px 1px 4px gray;
  padding: 8px;
  width: fit-content;
  min-width: 150px;
  border: none;
  font-size: 16px;
}

.forgot-password {
    white-space: nowrap;
    font-size: 14px;
}

form input[type="submit"]:hover {
  background-color: #b32c35;
}

form input[type="submit"]:active {
  background-color: #b32c35;
  box-shadow: 0px 0.5px 2px gray;
}

a {
  color: #911f27;
  text-decoration:none;
}

p {
  margin-top: 0.5em;
}

.error {
  color: #911f27;
  font-style: italic;
}

.box-bottom {
  margin-top: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-between;
  width: 90%;
  max-width: 400px;
}

.bottom-text {
  position: relative;
  top: -1.2em;
  width: 90%;
  text-align: right;
}

.summary-box {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  display: grid;
  grid-template-columns: auto auto;
  max-width: 500px;
}

.event-name {
    font-weight: bold;
    font-size: 24px;
}

.event-sum-title {
    padding: 4px 12px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.link-button .event-name {
    margin: 0;
    align-self: flex-start;
    font-weight: bold;
}

.event-sum-title .event-date, .event-sum-title .event-time {
    text-align: right;
}

.event-date, .event-time {
    font-size: 14px;
    margin :0;
    color: #666;
}

.link-button .event-date, .link-button .event-time {
    align-self: flex-start;
    color: #eee;
}

.event-sum-address {
    margin-left: 48px;
    margin-bottom: 16px;
}

.event-sum p {
    margin: 0;
}

.event-sum-riders {
    margin-bottom: 12px;
}

.sum-box-child, .link-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: 16px;
  padding: 16px 32px;

  background-color: #911f27 !important;
  border-radius: 0.5em;
  box-shadow: 0px 1px 4px gray;
  color: white;
}

.link-button:hover {
  transition-timing-function: ease-in-out;
  transition-duration: 0.15s;
  background-color: #ffe0a7;
}

.link-button:active {
  transition-timing-function: ease-in-out;
  transition-duration: 0.15s;
  box-shadow: 0px 0.5px 2px gray;
  background-color: #ffe0a7;
}

.list-box {
  width: 95%;
}

.display-sum {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #face7f;
  border-radius: 0.5em;
  width: 100%;
  margin-top: 2.5em;
  margin-bottom: 2em;
  padding-top: 0.2em;
  padding-bottom: 1.3em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  box-shadow: 0px 1px 4px gray;
}

.display-sum form {
  margin: 0;
  padding: 0;
  margin-top: 0.5em;
  box-shadow:none;
  width: 100%;
  align-items: flex-end;
  margin-bottom: 0.8em;
}

.display-sum form input[type="submit"] {
  width: fit-content !important;
  min-width: 40px !important;
}

.event-sum {
  margin-top: 16px;

  background-color: white;
  border: 3px solid black;
  border-radius: 25px;
}

.event-info-color-main {
  color: #333;
}

.event-info-color {
  color: #555;
  font-size: 0.8em;
}

.summary-side {
  width: 60%;
  background-color: #ffe2ac;
  border-radius: 0.5em;
  padding-top: 0.2em;
  padding-bottom: 1.3em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin-left: 1.5em;
  box-shadow: 0px 1px 4px gray;
}

.summary-side h3 {
  text-align: left;
}

@media only screen and (min-width: 850px) {
  body {
    max-width: 1200px;
    margin: auto;
    padding-bottom: 3em;
    border-radius: 0.5em;
  }

  .title h1 {
    font-size: 8em !important;
  }
  
  .title h2 {
    font-size:  1.5em !important;
  }

  form, .list-box, .summary-box {
    width: 85%;
  }

  .bottom-text {
    width: 80%;
  }

  .list-box {
      align-items: center;
      display: flex;
      flex-direction: column;
  }

  .event-sum .event-name {
      margin-right: 16px;
  }

  .event-sum .event-date {
      white-space: nowrap;
  }

  .event-sum {
      width: 400px;
      margin: 16px;
  }
}
