<!DOCTYPE html>
<html lang="en">
<head>
    <title>Events</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="description" content="" />
    <link rel="stylesheet" type="text/css" href="/css" />
</head>
<body>
    <h1>ACF<br> Rides</h1>
    <div class="summary-box">
        <h2>Select an Event</h2>
        <hr width="90%" color="#b51515">
        {% for event in events %}
        <li>
            <a href="{{href}}?event_id={{event.id}}">
                {{event.name}}
            </a>
        </li>
        {% endfor %}
    </div>
</body>
</html>
