<!DOCTYPE html>
<html lang="en">
<head>
    <title>ACF Rides</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="description" content="" />
    <link rel="stylesheet" type="text/css" href="/css" />
</head>
<body>
    <h1>ACF<br> Rides</h1>
    <form action="/pickup" method="POST">
        <input type="text" name="pickup" placeholder="Pickup Location" required />
        <input type="submit" value="submit"/>
    </form>
</body>
</html>
