<!DOCTYPE html>
<html lang="en">
<head>
    <title>Reset Password</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="description" content="" />
    <link rel="stylesheet" type="text/css" href="/style.css" />
</head>
<body>
    <h1>ACF Rides</h1>
    <h2>Reset Password</h2>
    <form action="/reset" method="post">
        <input type="email" name="email" placeholder="Email" required>
        <input type="submit" value="Reset Password">
    </form>
</body>
</html>
