<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sign Up</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="description" content="" />
    <link rel="stylesheet" type="text/css" href="/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet"> 
</head>
<body>
    <div class="title">
        <h1>Rides</h1>
        <h2>Agape Christian Fellowship</h2>
    </div>
    <form action="/signup" method="post">
        <h2>Sign Up</h2>
        <hr width="90%" color="#b51515"> 
        <input type="text" name="name" placeholder="Full Name" required>
        <br>
        <input type="email" name="email" placeholder="Email" required>
        <br>
        <input type="password" name="password" placeholder="Password" required>
        <br>
        <input type="password" name="confirm_password" placeholder="Confirm Password" required>
        <br>
        <input type="tel" name="phone"
        placeholder="Phone Number" required>
        <br>
        <div>
            <p>Select Campus</p> 
            <select name = "campus" required>
                <option value = "" ></option>
                <option value = "RIT" >RIT</option>
                <option value = "UofR">UofR</option>
            </select>
        </div>
        <br>
        <p>{{error}}</p>
        <div = class="box-bottom">
            <a href="/login">Sign In Instead</a>
            <input type="submit" name="signup" value="Sign Up">
        </div>
    </form>
</body>
</html>
