<!DOCTYPE html>
<html lang="en">
<head>
    <title>Drive or Ride</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="description" content="" />
    <link rel="stylesheet" type="text/css" href="/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet"> 
</head>
<body>
    <div class="title">
        <h1>Rides</h1>
        <h2>Agape Christian Fellowship</h2>
    </div>
    <div class="summary-box">
        <a href="/events?flow=drive" class="link-button">Drive</a>
        
        <a href="/events?flow=ride" class="link-button">Ride</a>
    </div>
    <br>
    <a href="/manage_events">Manage Events</a>
    <div class="list-box" style="margin-top: 4em;">
        <h2>My Events</h2>
        {% for eventData in events_data %}
            <div class="display-sum">
                <div class="event-sum">
                    <div >
                        <h3>Event Info</h3>
                        <p class="event-info-color-main">{{eventData.event.name}}</p>
                        <p class="event-info-color">{{eventData.event.time.format("%l:%M %p")}}</p>
                        <p class="event-info-color">{{eventData.event.time.format("%A, %B %d") }}</p>
                        <p class="event-info-color">{{eventData.event.address1}}</p>
                        <p class="event-info-color">{{eventData.event.city}}, {{eventData.event.state}} {{eventData.event.zipcode}}</p>
                    </div>
                    <div class="summary-side">
                        {% if eventData.is_driver %}
                            {% if eventData.riders.is_some()%}
                                <h3>Riders Info</h3>
                                    {% for riderInfo in eventData.riders.as_ref().unwrap() %}
                                        <p class="event-info-color-main">Name: {{riderInfo.0.fullname}}</p>
                                        <p class="event-info-color-main">Number: {{riderInfo.0.number}}</p>
                                        <p class="event-info-color-main">Pickeup Location: {{riderInfo.1}}</p>
                                    {% endfor %}
                            {% endif %}
                        {% else %}
                            <h3>Driver Info</h3>
                            {%if eventData.driver.is_some()%}
                                <p class="event-info-color-main">Name: {{eventData.driver.as_ref().unwrap().0.fullname}}</p>
                                <p class="event-info-color-main">Number: {{eventData.driver.as_ref().unwrap().0.number}}</p>
                                <p class="event-info-color-main">
                                    Vehicle: 
                                    {{eventData.driver.as_ref().unwrap().1.color}}
                                    {{eventData.driver.as_ref().unwrap().1.make}}
                                    {{eventData.driver.as_ref().unwrap().1.model}}
                                </p>
                            {% else %}
                                <p>Searching for a Driver</p>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div> 
</body>
</html>
