<!DOCTYPE html>
<html lang="en">

<head>
    <title>Drive or Ride</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="description" content="" />
    <link rel="stylesheet" type="text/css" href="/css" />
    <script type="text/javascript" src="/js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
</head>

<body>
    <div class="title">
        <h1>Rides</h1>
        <h2>Agape Christian Fellowship</h2>
    </div>
    <div class="summary-box">
        <a href="/events?flow=drive" class="link-button">Drive</a>

        <a href="/events?flow=ride" class="link-button">Ride</a>
    </div>
    <a href="/manage_events">Manage Events</a>
    <h2 style="margin-top: 36px;">Upcoming</h2>

</body>

</html>