<!DOCTYPE html>
<html lang="en">
<head>
    <title>Drive or Ride</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="description" content="" />
    <link rel="stylesheet" type="text/css" href="/css" />
</head>
<body>
    <h1>ACF<br> Rides</h1>
    <div class="summary-box">
        <h2>Upcoming Events</h2>
        <hr width="90%" color="#b51515"> 
        <a href="/events?flow=drive" class="sum-box-child">I Want to Drive</a>
        <br>
        <a href="/events?flow=ride" class="sum-box-child">I Want a Ride</a>
        <br>
        <a href="/manage_events" class="sum-box-child">Create an Event</a>
    </div>
    <div class="summary-box">
        <h2>My Events</h2>
        <hr width="90%" color="#b51515"> 
    </div>
</body>
</html>
