<div class="list-box">
    {% for eventData in events_data %}
    <div class="event-sum">
        <div class="event-sum-title">
            <p class="event-name">{{eventData.event.name}}</p>
            <div>
                <p class="event-date">{{eventData.event.time.format("%A, %B %d")}}</p>
                <p class="event-time">{{eventData.event.time.format("%l:%M%p")}}</p>
            </div>
        </div>
        {% if eventData.is_driver %}
        <div class="event-sum-address">
            <a>
                <p>{{eventData.event.address1}}</p>
                <p>{{eventData.event.address2}}</p>
                <p>{{eventData.event.city}}, {{eventData.event.state}} {{eventData.event.zipcode}}</p>
            </a>
        </div>
        <div class="event-sum-riders">
            {% if eventData.riders.is_some() %}
            <ul>
                {% for riderInfo in eventData.riders.as_ref().unwrap() %}
                <li>
                    {{riderInfo.0.fullname}}
                    <ul>
                        <li><a href="sms:{{riderInfo.0.number}}">{{riderInfo.0.number}}</a></li>
                        <li>{{riderInfo.1}}</li>
                    </ul>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        {% else %}
        {%if eventData.driver.is_some()%}
        <ul>
            <li>
                {{eventData.driver.as_ref().unwrap().0.fullname}}
                <ul>
                    <li>
                        <a href="sms:{{eventData.driver.as_ref().unwrap().0.number}}">
                            {{eventData.driver.as_ref().unwrap().0.number}}
                        </a>
                    </li>
                    <li>{{eventData.driver.as_ref().unwrap().1.color}}
                        {{eventData.driver.as_ref().unwrap().1.make}}
                        {{eventData.driver.as_ref().unwrap().1.model}}
                    </li>
                </ul>
            </li>
        </ul>
        {% else %}
        <div class="event-sum-address">
            <p>Searching for a Driver...</p>
            <p>Refresh Page for Updates</p>
        </div>
        {% endif %}
        {% endif %}
    </div>
    {% endfor %}
</div>