<!DOCTYPE html>
<html lang="en">
<head>
    <title>Vehicles</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="description" content="" />
</head>
<body>
    <h1>ACF<br> Rides</h1>
    <h2>Vehicles</h2>
    {% for vehicle in vehicles %}
    <li>
        <a>
            {{vehicle.color}} {{vehicle.make}} {{vehicle.model}}
        </a>
    </li>
    {% endfor %}

    <form action="\vehicles" method="post">
        <h3>Add a Vehicle</h3>
        <input type="text" name="make" placeholder="make" required>
        <br>
        <input type="number" name="model" placeholder="model" required>
        <br>
        <input type="text" name="color" placeholder="color" required>
        <br>
        <input type="submit" value="Add Vehicle">
    </form>
</body>
</html>
